body {
  background-color: #ffffff;
  color: #34495e;

}

.jumbotron {
  background-image: url("../img/pineapple.jpg");
  background-size: cover;
  height: 350px;
  width: 100%;
  line-height: 350px;
}

.jumbotron h1 {
  color: #f58b75;
  text-align: center;
  vertical-align: middle;
}

.column {
  display:inline-block;
  float: left;
  width: 45%;
  background-color: #f58b75;
  border-radius:10px;
  height: 170px;
  margin: 10px;
  padding: 10px;
}

.together {
  text-align:center;
  margin-left:30px;
}

.connect {
  text-align: center;
}

/*Typography*/

h1,
h2,
h3,
p {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.back h6 {
  text-align: center;
  text-transform: uppercase;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
