/*home page*/

.jumbotron {
  background-image: url("../img/mountain-2.jpg");
  background-size: cover;
}
.jumbotron p {
  color: white;
}
.jumbotron h1 {
  color: white;
  text-align:center;
}

.container {
  text-align: center;
}

.col-md-4 {
  text-align: center;
  background-color: #ade6d8;
  border-radius: 10px;
  margin: 10px;
  width: 30%;
}

.row {
  display: inline-block;
}

#welcome {
  font-family: Handlee, Helvetica Neue, Helvetica, Arial, sans-serif;
}

 /*Typography*/

h1,
h2,
h3 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

p,
li {
  font-family: Helvetica, Neue, Helvetica, Arial, sans-serif;
}

.intro p {
  -webkit-margin-before: 0;
  font-family:Handlee, Helvetica, sans-serif;
  }

.intro h2 {
  font-family: Handlee, Helvetica, Futura, Arial, sans-serif;
}

.skills h3 {
  text-align: center;
  /*text-transform: uppercase;*/
}

.main-text h3 {
  text-align: center;
  text-transform: uppercase;
}

.main-text p {
  text-align: center;
}

.back h6 {
  text-align: center;
  text-transform: uppercase;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
